*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: #000;
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   font-family: 'George Round';
   src: url('/fonts/GeorgeRounded.otf');
}

/*--------Fonts--------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/*--------Wrapper--------*/
.container {
   max-width: 1200px;
   padding: 0px 15px;
   margin: 0px auto;
   box-sizing: content-box;
}

/*--------Container--------*/
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background: #fff;
   padding-top: 36px;
   padding-bottom: 36px;
   min-height: 115px;
}

.header__container {}

.header__body {
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {}

.header__logo a span {
   font-family: 'Cedarville Cursive';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 41px;
   color: #000;
   margin-left: 13px;
}

.header__nav {}

.header__link {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.link-item {}

.link-header {
   font-weight: 700;
   font-size: 16px;
   line-height: 100%;
   color: #000;
}

.header__link li:nth-child(1) {
   margin-right: 82px;
}

.header__link li:nth-child(2) {
   margin-right: 77px;
}

.header__link li:nth-child(3) {
   margin-right: 86px;
}

.header__link li:nth-child(4) {
   margin-right: 44px;
}

.header-btn {
   display: flex;
   background: #2D635E;
   box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
   border-radius: 7px;
   padding: 12px 25px 12px;
   color: #fff;
}

.header-btn:hover {
   background: #224642;
   transition: 500ms;
}

.link-header:hover {
   text-decoration: underline;
}

.main {
   padding-top: 120px;
}

.header__social {
   display: none;
}

/*Responsive*/
/*992px - 1200px*/
@media screen and (max-width: 1200px) {
   .container {
      max-width: 960px;
   }
}

/*768px-992px*/
@media screen and (max-width: 992px) {
   .container {
      max-width: 720px;
   }

   .header__body {
      display: flex;
      justify-content: stretch;
   }

   .header__logo {
      margin-left: 40px;
   }

   .header__nav {
      display: none;
   }

   .menu__icon {
      z-index: 55;
      display: flex;
      position: relative;
      width: 27px;
      height: 21px;
      cursor: pointer;
      top: 0px;
      left: 18px;
   }

   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
      left: 0px;
      position: absolute;
      height: 10%;
      width: 27px;
      transition: all 0.5s ease 0s;
      background-color: #000;
   }

   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }

   .menu__icon::before {
      top: 0;
   }

   .menu__icon::after {
      bottom: 0;
   }

   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .menu__icon._activete span {
      transform: scale(0) translate(0px, -50%);
   }

   .menu__icon._activete::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .menu__icon._activete::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   .menu__icon._activete {
      left: 90%;
      right: 0;
      transition: all 0.5s ease 0s;
   }

   .header__link {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .header__link li:nth-child(1) {
      margin-right: 0px;
   }

   .header__link li:nth-child(2) {
      margin-top: 70px;
      margin-right: 0px;
   }

   .header__link li:nth-child(3) {
      margin-top: 70px;
      margin-right: 0px;
   }

   .header__link li:nth-child(4) {
      margin-top: 70px;
      margin-right: 0px;
   }

   .header {
      min-height: 100%;
   }

   .header-btn {
      display: none;
   }

   .header__nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -200%;
      width: 100%;
      height: 100%;
      margin-top: 120px;
      overflow: auto;
      z-index: 50;
      padding: 20px 10px 0px 15px;
      transition: left 0.5s ease 0s;
   }

   .header__nav._activete {
      left: 0;
   }

   .link-header {
      font-size: 32px;
   }

   .header__social {
      display: flex;
      justify-content: center;
      margin-top: 91px;
   }

   .header__instagram,
   .header__facebook {
      margin-right: 27px;
   }

}

/*576px-768px*/
@media screen and (max-width: 768px) {
   .container {
      max-width: 560px;
   }
}

/*0-576px*/
@media screen and (max-width: 576px) {
   .container {
      max-width: 100%;
   }
}